<section class="orders light-section">
  <div class="container mx-auto pt-12">
    <div class="flex items-center justify-between">
      <h1 class="font-bold text-lg mb-4">All Menus</h1>
      <div>
        <a
          href="/admin/menus/create"
          class="rounded-full bg-orange-600 font-bold text-white px-3 py-2 hover:bg-orange-800 transition duration-300"
          >Add New</a
        >
      </div>
    </div>
    <table class="w-full table-auto bg-white">
      <thead>
        <tr>
          <th class="border px-4 py-2 text-left">#</th>
          <th class="border px-4 py-2 text-left">Name</th>
          <th class="border px-4 py-2 text-left">Image</th>
          <th class="border px-4 py-2 text-left">Price</th>
          <th class="border px-4 py-2 text-left">Size</th>
        </tr>
      </thead>
      <tbody>
        <% menus.forEach((menu, index)=>{%>
        <tr>
          <td class="border px-4 py-2"><%= index %></td>
          <td class="border px-4 py-2"><%= menu.name %></td>
          <td class="border px-4 py-2">
            <img src="/img/<%= menu.image %>" width="50px" />
          </td>
          <td class="border px-4 py-2">₹<%= menu.price %>.00</td>
          <td class="border px-4 py-2 uppercase"><%= menu.size %></td>
        </tr>
        <% })%>
      </tbody>
    </table>
  </div>
</section>
